/* Author: Nick Fazzolari */
html {
    height: 100%;
}
.full-vh {
    height: 100vh;
    background-color: #1A237E;
}
/* Custom Navbar */
#btsource-menu.navbar-default .navbar-brand {
    color: rgba(204, 229, 246, 1);
}
.navbar-brand {
    padding-bottom: 0;
    padding-top: 8px;
}
#btsource-menu.navbar-default {
    font-size: 20px;
    background-color: rgba(33, 33, 33, 1);
    border-bottom-width: 0px;
}
#btsource-menu.navbar-default .navbar-nav>li>a {
    color: rgba(204, 229, 246, 1);
    background-color: rgba(248, 248, 248, );
}
#btsource-menu.navbar-default .navbar-nav>li>a:hover,
#btsource-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, .025);
}
#btsource-menu.navbar-default .navbar-nav>.active>a,
#btsource-menu.navbar-default .navbar-nav>.active>a:hover,
#btsource-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(248, 248, 248, 1);
    background-color: rgba(119, 119, 119, 0.97);
}
#btsource-menu.navbar-default .navbar-toggle {
    border-color: #777777;
}
#btsource-menu.navbar-default .navbar-toggle:hover,
#btsource-menu.navbar-default .navbar-toggle:focus {
    background-color: #777777;
}
#btsource-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #777777;
}
#btsource-menu.navbar-default .navbar-toggle:hover .icon-bar,
#btsource-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #212121;
}
/* Connect Logos */
.container-connect {
    width: 60%;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin: auto;
}
.col-connect {
    width: 33.3333%;
    float: left;
}
/* Padding/margin hacks */
.r-pad {
    padding-right: 16px;
}
.lr-marg {
    margin-left: auto;
    margin-right: auto;
}
.t-marg {
    margin-top: 64px;
}
.tb-marg {
    margin-top: 64px;
    margin-bottom: 64px;
}
/* Custom typographic rules */
h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova";
}
/* Section headers */
.hdr-blue-light {
    background-color: #3F51B5;
    color: #CCE5F6;
    padding-top: 32px;
    padding-bottom: 32px;
}
/* Additional font colors */
.txt-light-blue {
    color: #CCE5F6;
}
/* Anchor Fixed Hack */
.anchor-fixed {
    padding-top: 50px;
    margin-top: -50px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
/* Work section thumbnail panels */
.thumbnail {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    padding: 12px;
}
.btn-primary {
    color: #CCE5F6;
    background-color: #3F51B5;
    border-radius: 0px;
    border: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #1A237E;
}
.footer {
    color: #CCE5F6;
    background-color: #1A237E;
    padding: 45px;
    margin-top: 80px;
    font-size: 20px;
}