/* Author: Nick Fazzolari */
html {
    height: 100%;
}
body {
    height: inherit;
}
.grey {
    background-color: lightgray;
}
.full-vh {
    height: 100vh;
    background-color: #2C3E50;
}
/* depricated */
.center-vert {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%)
}
/* Custom Navbar */
#btsource-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#btsource-menu.navbar-default {
    font-size: 20px;
    background-color: rgba(33, 33, 33, 1);
    border-bottom-width: 0px;
}
#btsource-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#btsource-menu.navbar-default .navbar-nav>li>a:hover,
#btsource-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(52, 152, 219, 1);
    background-color: rgba(248, 248, 248, 0);
}
#btsource-menu.navbar-default .navbar-nav>.active>a,
#btsource-menu.navbar-default .navbar-nav>.active>a:hover,
#btsource-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(248, 248, 248, 1);
    background-color: rgba(119, 119, 119, 0.97);
}
#btsource-menu.navbar-default .navbar-toggle {
    border-color: #777777;
}
#btsource-menu.navbar-default .navbar-toggle:hover,
#btsource-menu.navbar-default .navbar-toggle:focus {
    background-color: #777777;
}
#btsource-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #777777;
}
#btsource-menu.navbar-default .navbar-toggle:hover .icon-bar,
#btsource-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #212121;
}
/* Connect Logos */
.container-connect {
    width: 60%;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin: auto;
}
.col-connect {
    width: 33.3333%;
    float: left;
}
/* Padding/margin hacks */
.r-pad {
    padding-right: 16px;
}
.lr-marg {
    margin-left: auto;
    margin-right: auto;
}
.t-marg {
    margin-top: 64px;
}
.tb-marg {
    margin-top: 64px;
    margin-bottom: 64px;
}
/* Custom typographic rules */
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, Times New Roman, serif;
}
/* Section headers */
.hdr-blue-dark {
}
.hdr-blue-light {
    background-color: #3498DB;
    color: #CCE5F6;
    padding-top: 32px;
    padding-bottom: 32px;
}
/* Additional font colors */
.txt-light-blue {
    color: #CCE5F6;
}
/* Anchor Fixed Hack */
.anchor-fixed {
    padding-top: 50px;
    margin-top: -50px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}