/*
==========================
author: nicholas fazzolari
==========================
*/
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.cf:after {
    content: "";
    display: table;
    clear: both;
}
header {
    background-color: #212121;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.section-light {
    background-color: #FFFFFF;
    clear: both;
}
.section-dark {
    background-color: #2C3E50;
    clear: both;
}
.section-light-full {
    background-color: #FFFFFF;
    height: 100vh;
    clear: both;
}
.section-dark-full {
    background-color: #2C3E50;
    height: 100vh;
    clear: both;
}
.section-header {
    background-color: #3498DB;
    width: 100%;
    height: 128px;
    line-height: 128px;
    margin: auto;
}
.section-header-dark {
    background-color: #2C3E50;
    width: 100%;
    height: 128px;
    line-height: 128px;
    margin: auto;
}
.section-header-light {
    background-color: #FFFFFF;
    width: 100%;
    height: 128px;
    line-height: 128px;
    margin: auto;
    z-index: -1;
}
.contact-cols {
    display: inline-block;
    background-color: #2C3E50;
    width: 33%;
    float: left;
}
.contact-circle {
    background-color: #3498DB;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    line-height: 210px;
    margin: auto;
}
.footer-container {
    padding-top: 46px;
	padding-bottom: 46px;
}
.img-sizing-center {
    display: block;
    margin: auto;
    margin-top: 46px;
}
.img-float-left {
    float: left;
    margin-top: 46px;
    margin-right: 16px;
}
.container-md {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    margin-bottom: 46px;
}
.container-lg {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.note-box {
    background-color: #2C3E50;
    width: 50%;
    margin: 0 auto;
    padding: 8px;
}
.pad-nav {
    padding-top: 81px;
}
.pad-nav-styleguide {
    padding-top: 41px;
}
h1 {
    color: #212121;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 23px;
}
h3 {
    color: #212121;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 23px;
}
p {
    color: #212121;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
    margin-top: inherit;
    margin-bottom: inherit;
}
blockquote {
    color: #212121;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-variant: normal;
    font-style: italic;
	font-weight: 400;
	line-height: 23px;
}
pre {
    color: #212121;
	font-family: monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
ul.main {
    color: #212121;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    list-style: inside;
    list-style-type: disc;
}
li {
    padding-bottom: 23px;
}
h1.light {
    color: #CCE5F6;
    font-family: Verdana, Geneva, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3.light {
    color: #CCE5F6;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 23px;
}
p.light {
    color: #CCE5F6;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
    margin-top: inherit;
    margin-bottom: inherit;
}
blockquote.light {
    color: #CCE5F6;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
    font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
ul.light {
    color: #CCE5F6;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    list-style: inside;
    list-style-type: disc;
}
li.light {
    padding-bottom: 23px;
}
.section-heading {
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 32px;
    color: #CCE5F6;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-kerning: normal;
    letter-spacing: 2px;
}
.section-heading-dark {
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 32px;
    color: #2C3E50;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-kerning: normal;
    letter-spacing: 2px;
}
.footer-heading {
    color: #616E7C;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 23px;
    margin-top: 12px;
}
span.code {
    color: #2C3E50;
    font-family: monospace;
    font-size: 16px;
    background-color: #CCE5F6;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.hyp-light a:link {
    font-family: inherit;
    color: dimgray;
    text-decoration: none;
}
.hyp-light a:visited {
    font-family: inherit;
	color: dimgray;
    text-decoration: none;
}
.hyp-light a:active {
    font-family: inherit;
    color: dimgray;
    text-decoration: none;
}
.hyp-light a:hover {
    font-family: inherit;
    color: #212121;
    text-decoration: underline;
}
.hyp-medium a:link {
    font-family: inherit;
    color: #616E7C;
    text-decoration: none;
}
.hyp-medium a:visited {
    font-family: inherit;
	color: #616E7C;
    text-decoration: none;
}
.hyp-medium a:active {
    font-family: inherit;
    color: #616E7C;
    text-decoration: none;
}
.hyp-medium a:hover {
    font-family: inherit;
    color: #99CBED;
    text-decoration: underline;
}
.hyp-dark a:link {
    font-family: inherit;
    color: #67B2E4;
    text-decoration: none;
}
.hyp-dark a:visited {
    font-family: inherit;
	color: #67B2E4;
    text-decoration: none;
}
.hyp-dark a:active {
    font-family: inherit;
    color: #67B2E4;
    text-decoration: none;
}
.hyp-dark a:hover {
    font-family: inherit;
    color: #CCE5F6;
    text-decoration: underline;
}
.header-logo {
    background: #212121;
    float: left;
}
.nav-wrapper { 
    background: #212121;
    height: 81px;
    overflow: hidden;
}
.nav-main {
    display: inline;
    height: 81px;
    font-family: sans-serif;
    font-size: 21px;
    list-style: none;
    line-height: 81px;
    margin: 0px;
    float: right;
}
.nav-item {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 25px;
    margin-right: -6px;
}
.nav-item:hover {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 21px;
    border-bottom-width: 8px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
}
.nav-main a:link {
    color: #FFFFFF;
    text-decoration: none;
}
.nav-main a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.nav-main a:active {
    color: #FFFFFF;
    text-decoration: none;
}
.nav-main a:hover {
    color: #3498DB;
    text-decoration: none;
}
.button-green {
  color: darkgreen;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px;
  width: 128px;
  background-color: #4CAF50;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #43A047;
}
.button-green:hover {
  color: darkgreen;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px;
  width: 128px;
  background-color: #81C784;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #43A047;
}
.button-red {
  color: #B61B1B;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px;
  width: 128px;
  background-color: #F34235;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #B61B1B;
}
.button-red:hover {
  color: #B61B1B;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px;
  width: 128px;
  background-color: #EE9999;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #B61B1B;
}
.button-blue {
  color: #0C46A0;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px;
  width: 128px;
  background-color: #2095F2;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #0C46A0;
}
.button-blue:hover {
  color: #0C46A0;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px;
  width: 128px;
  background-color: #8FC9F8;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #0C46A0;
}
.button-orange {
  color: #E55000;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px;
  width: 128px;
  background-color: #FF9700;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #E55000;
}
.button-orange:hover {
  color: #E55000;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px;
  width: 128px;
  background-color: #FFCB7F;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #E55000;
}
.button-green-lrg {
  color: darkgreen;
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 16px;
  width: 128px;
  background-color: #4CAF50;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #43A047;
}
.button-green-lrg:hover {
  color: darkgreen;
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 16px;
  width: 128px;
  background-color: #81C784;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #43A047;
}
.button-red-lrg {
  color: #B61B1B;
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 16px;
  width: 128px;
  background-color: #F34235;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #B61B1B;
}
.button-red-lrg:hover {
  color: #B61B1B;
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 16px;
  width: 128px;
  background-color: #EE9999;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #B61B1B;
}
.button-blue-lrg {
  color: #0C46A0;
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 16px;
  width: 128px;
  background-color: #2095F2;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #0C46A0;
}
.button-blue-lrg:hover {
  color: #0C46A0;
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 16px;
  width: 128px;
  background-color: #8FC9F8;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #0C46A0;
}
.button-orange-lrg {
  color: #E55000;
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 16px;
  width: 128px;
  background-color: #FF9700;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #E55000;
}
.button-orange-lrg:hover {
  color: #E55000;
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  padding: 16px;
  width: 128px;
  background-color: #FFCB7F;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #E55000;
}