/*
==========================
author: nicholas fazzolari
==========================
*/

/* html 5 resets */
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clear fix */
.cf:after {
    content: "";
    display: table;
    clear: both;
}

/*
==================
SECTION CONTAINERS
==================
*/

/* navigation container */
header {
    background-color: #212121;
    width: 100%;
    position: fixed;
    z-index: 1;
}
/* non-height specific section containers - white and dark-slate blue */
.section-light {
    background-color: #FFFFFF;
    clear: both;
}
.section-dark {
    background-color: #2C3E50;
    clear: both;
}
/* 100 % view height section containers */
.section-light-full {
    background-color: #FFFFFF;
    height: 100vh;
    clear: both;
}
.section-dark-full {
    background-color: #2C3E50;
    height: 100vh;
    clear: both;
}

/*
================
CHILD CONTAINERS
================
*/

/* section headers */
.section-header {
    background-color: #3498DB;
    width: 100%;
    height: 128px;
    line-height: 128px;
    margin: auto;
}
.section-header-dark {
    background-color: #2C3E50;
    width: 100%;
    height: 128px;
    line-height: 128px;
    margin: auto;
}
.section-header-light {
    background-color: #FFFFFF;
    width: 100%;
    height: 128px;
    line-height: 128px;
    margin: auto;
    z-index: -1;
}
/* contact section layout components !DEPRICATED! */
.contact-cols {
    display: inline-block;
    background-color: #2C3E50;
    width: 33%;
    float: left;
}
.contact-circle {
    background-color: #3498DB;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    line-height: 210px;
    margin: auto;
}
/* footer containers */
.footer-container {
    padding-top: 46px;
	padding-bottom: 46px;
}
/* image containers */
.img-sizing-center {
    display: block;
    margin: auto;
    margin-top: 46px;
}
.img-float-left {
    float: left;
    margin-top: 46px;
    margin-right: 16px;
}
/* content containers */
.container-md {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    margin-bottom: 46px;
}
.container-lg {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.note-box {
    background-color: #2C3E50;
    width: 50%;
    margin: 0 auto;
    padding: 8px;
}
/* padding hacks (might face deprecation) */
.pad-nav {
    padding-top: 81px;
}
.pad-nav-styleguide {
    padding-top: 41px;
}