/* html 5 resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* top level elements */
body {
    margin: 0; 
    padding: 0;
}
header {
    background-color: #2C3E50;
}
nav {
    background-color: #ECF0F1;
}
.section-home {
    background-color: #3498DB;
    clear: both;
}
.section-contact {
    background-color: #2C3E50;
    clear: both;
}
.section-about {
    background-color: #3498DB;
    clear: both;
    padding-bottom: 46px;
}
footer {
    background-color: #2C3E50;
    clear: both;
}
/* section  specific child elements */
.section-center {
    width: 75%;
    height: 128px;
    line-height: 128px;
    margin: auto;
    text-align: center;
}
.contact-cols {
    background-color: #2C3E50;
    width: 25%;
    height: 174px;
    float: left;
    display: inline-block;
}
.contact-circle {
    background-color: #3498DB;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    line-height: 210px;
    text-align: center;
    margin: auto;
}
.footer-cont {
    width: 75%;
    height: 196px;
    margin: auto;
    padding-bottom: 46px;
    padding-top: 46px;
}
.footer-cols {
    width: 45%;
    display: inline-block;
}
.footer-content {
    padding-top: 46px;
}
/* text container sizings */
.cf:after {
    content: "";
    display: table;
    clear: both;
}
.auto-sizing {
    display: block;
    margin: auto;
    margin-top: 46px;
}
.content-sizing {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.content-sizing-big {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.note-box {
    background-color: #2C3E50;
    width: 500px;
    margin: 0 auto;
    padding: 8px;
}
/* navigation bar */
.navbar {
    display: inline;
    margin: 0;
    padding: 0;
}
.nav-wrapper {
    font-family: sans-serif;
    height: 46px;
    position: relative;
    background-color: #99CBED;
/*    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #2C3E50;*/
}
.item {
    width: 96px;
    height: 38px;
    padding: 8px;
    display: inline;
    float: left;
    background-color: #99CBED;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
/*    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #2C3E50;*/ 
}
.item:hover {
    color: #99CBED;
    display: inline;
    background-color: #2C3E50;
/*    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #99CBED;*/
}
a.navbar-main {
    color: #99CBED;
    text-decoration: none;
}
a.navbar-main:hover {
    color: #99CBED;
    text-decoration: none;
}