/* link styles for light background*/
.hyp-light a:link {
    font-family: inherit;
    color: dimgray;
    text-decoration: none;
}
.hyp-light a:visited {
    font-family: inherit;
	color: dimgray;
    text-decoration: none;
}
.hyp-light a:active {
    font-family: inherit;
    color: dimgray;
    text-decoration: none;
}
.hyp-light a:hover {
    font-family: inherit;
    color: #212121;
    text-decoration: underline;
}
/* link styles for medium blue background*/
.hyp-medium a:link {
    font-family: inherit;
    color: #616E7C;
    text-decoration: none;
}
.hyp-medium a:visited {
    font-family: inherit;
	color: #616E7C;
    text-decoration: none;
}
.hyp-medium a:active {
    font-family: inherit;
    color: #616E7C;
    text-decoration: none;
}
.hyp-medium a:hover {
    font-family: inherit;
    color: #99CBED;
    text-decoration: underline;
}
/* link styles for dark background*/
.hyp-dark a:link {
    font-family: inherit;
    color: #67B2E4;
    text-decoration: none;
}
.hyp-dark a:visited {
    font-family: inherit;
	color: #67B2E4;
    text-decoration: none;
}
.hyp-dark a:active {
    font-family: inherit;
    color: #67B2E4;
    text-decoration: none;
}
.hyp-dark a:hover {
    font-family: inherit;
    color: #CCE5F6;
    text-decoration: underline;
}