body {
    margin: 0px;
}
header {
    background: #212121;
    height: 81px;
    border-bottom-width: 8px;
}
.header-logo {
    background: #212121;
    float: left;
}
.nav-wrapper { 
    background: #212121;
    height: 81px;
    overflow: hidden;
}
.nav-main {
    display: inline;
    height: 81px;
    font-family: sans-serif;
    font-size: 21px;
    list-style: none;
    line-height: 81px;
    margin: 0px;
    float: right;
}
.nav-item {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 25px;
    margin-right: -6px;
}
.nav-item:hover {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 21px;
    border-bottom-width: 8px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
}
.nav-main a:link {
    color: #CCE5F6;
    text-decoration: none;
}
.nav-main a:hover {
    color: #3498DB;
    text-decoration: none;
}
.nav-main a:active {
    color: #CCE5F6;
    text-decoration: none;
}
.nav-main a:visited {
    color: #CCE5F6;
    text-decoration: none;
}