body {
    margin: 0px;
}
header {
    background: #212121;
    height: 81px;
}
.header-logo {
    background: #212121;
    float: left;
}
.nav-wrapper { 
    background: #212121;
    float: right;
    height: 81px;
    width: inherit;
}
.nav {
    display: inline;
    height: 81px;
    font-family: sans-serif;
    font-size: 21px;
    list-style: none;
    line-height: 81px;
    margin: 0px;
    float: right;
}
.nav-home {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 25px;
    border-bottom-width: 4px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
    margin-right: -6px;
}
.nav-home:hover {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 17px;
    border-bottom-width: 12px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
}
.nav-about {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 25px;
    border-bottom-width: 4px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
    margin-right: -6px;
}
.nav-about:hover {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 17px;
    border-bottom-width: 12px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
}
.nav-contact {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 25px;
    border-bottom-width: 4px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
    margin-right: -6px;
}
.nav-contact:hover {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 17px;
    border-bottom-width: 12px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
}
.nav-donate {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 25px;
    border-bottom-width: 4px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
    margin-right: -6px;
}
.nav-donate:hover {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 17px;
    border-bottom-width: 12px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
}
.nav-projects {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 25px;
    border-bottom-width: 4px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
    margin-right: -6px;
}
.nav-projects:hover {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 17px;
    border-bottom-width: 12px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
}
.nav-blog {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 25px;
    border-bottom-width: 4px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
}
.nav-blog:hover {
    display: inline;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 17px;
    border-bottom-width: 12px;
    border-bottom-color: #CCE5F6;
    border-bottom-style: solid;
}
.nav a:link {
    color: #FFFFFF;
    text-decoration: none;
}
.nav a:hover {
    color: #9E9E9E;
    text-decoration: none;
}
.nav a:active {
    color: #FFFFFF;
    text-decoration: none;
}
.nav a:visited {
    color: #FFFFFF;
    text-decoration: none;
}