.header-logo {
}
.nav-wrapper {  
}
.nav {
}
.nav-home {
    display: inline;
}
.nav-about {
    display: inline;
}
.nav-contact {
    display: inline;
}
.nav-donate {
    display: inline;
}
.nav-projects {
    display: inline;
}
.nav-blog {
    display: inline;
}